body {
  font-family: "Crete Round", sans-serif;
  padding: 0;
  margin: 0;
}

header {
  background-color: #3c3a39;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-bottom: 3%;
  margin-bottom: 0;
  padding-top: 8%;
}

a {
  text-decoration: none;
}

.logo {
  margin-right: auto;
  margin-left: 5%;
  color: #fff;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
}

.bars {
  margin-right: 5%;
}

main {
  background-color: #1c1a19;
  background-image: url(./images/frontPageImage.svg);
  background-repeat: no-repeat;
  background-position: bottom -30% right;
}

main h1 {
  color: #ff6b00;
  margin-top: 0;
  width: 80%;
  padding-top: 30%;
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  margin-bottom: 0;
}

main .intro {
  color: #fff5e1;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  margin-top: 2%;
  font-family: "Poppins", sans-serif;
  line-height: 24px;
}

main p {
  color: #fff;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}

main ul {
  display: flex;
  list-style-type: none;
  justify-content: flex-start;
  padding-left: 7%;
  gap: 5%;
  padding-bottom: 25%;
}

.crossimage1 {
  display: flex;
  justify-content: center;
  margin-top: 9%;
  max-width: 100vw;
}

.crossimage1 img {
  min-width: 100vw;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: #acb7c3;
  margin-bottom: 4px;
}

.frontpage {
  padding: 0 5%;
}

/* Works */

.works {
  display: grid;
  justify-items: center;
  margin-bottom: 30%;
}

.projimage {
  display: flex;
  justify-content: center;
}

.recent {
  color: #1c1a19;
  font-family: "Crete Round", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  padding-top: 25%;
  border-bottom: 1px solid #212121;
  padding-bottom: 10%;
  margin-bottom: 15%;
}

.card {
  display: flex;
  padding-bottom: 15%;
  margin: auto;
  width: 90%;
  flex-direction: column;
}

.cardheader {
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: #091e42;
}

.card ul {
  display: flex;
  justify-content: flex-start;
  gap: 5%;
  list-style-type: none;
  padding-left: 0;
}

.tofix {
  display: flex;
  align-items: center;
}

.tofix img {
  width: 40%;
  position: absolute;
  right: 0;
  margin-bottom: 5%;
}

.card li {
  border: 1px solid #8993a4;
  padding: 4%;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #091e42;
  font-family: "Inter", sans-serif;
}

form button {
  width: 40%;
  margin: auto;
  background-color: #993800;
  padding: 5%;
  color: #fff;
  border: none;
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
}

.card button {
  padding: 3%;
  background-color: #ff6b00;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: #fff;
  border: none;
}

.card p {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #091e42;
}

.card2 {
  background-image: url(./images/projects/project\ background.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 90%;
  color: #fff;
  padding-bottom: 0%;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
}

.card2 button {
  background-color: #ff6b00;
  width: 100%;
  border: none;
  padding: 3%;
  color: #fff;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  font-family: "Inter", sans-serif;
}

.card2 h2 {
  width: 70%;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
}

.card2 .textitems {
  padding-left: 5%;
  padding-right: 5%;
}

.card2 ul {
  display: flex;
  list-style-type: none;
  justify-content: flex-start;
  gap: 5%;
  padding-left: 0;
}

.card2 li {
  background-color: rgba(255, 255, 255, 0.24);
  padding: 3%;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
}

.card2 p {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 24px;
  width: 100%;
  padding-bottom: 3%;
}

.myself {
  background-image: url(./images/projects/backgroundimage.svg);
  background-position: right 25%;
  background-repeat: no-repeat;
  padding: 18% 0 30% 0;
  background-color: #1c1a19;
}

.myself ul {
  list-style-type: none;
  color: #fff;
  font-family: "Poppins", sans-serif;
  padding-left: 0;
}

.myself h2 {
  color: #ff6b00;
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 88px;
  margin-bottom: 0;
}

.paraself {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #f4f5f7;
}

.myself button {
  background-color: #ff6b00;
  color: #fff;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  padding: 3%;
  border: none;
}

.myselftext {
  width: 90%;
  margin: auto;
}

/* languages */

.mylanguages {
  background-color: #1c1a19;
  padding-top: 30%;
  margin-top: 0;
}

.hra {
  margin-top: 55%;
  width: 90%;
}

.forflex {
  display: flex;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  gap: 5%;
  justify-content: center;
  margin-bottom: 5%;
  font-family: "InaiMathi", sans-serif;
}

.languagescenter {
  text-align: center;
  padding-top: 20%;
}

.item {
  margin-bottom: 4%;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;
  color: #fff;
}

form {
  display: flex;
  flex-direction: column;
}

.contactsection p {
  color: #172b4d;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
}

.contactsection {
  padding: 20% 8% 0 8%;
}

input {
  border: none;
  padding-bottom: 3%;
  color: #979493;
  margin-bottom: 5%;
  border-bottom: 1px solid #dbd8d7;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
}

.inputhr {
  color: red;
}

textarea {
  margin-bottom: 5%;
  border: none;
  background-color: #fbf8f7;
  height: 114px;
  font-style: italic;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
}

.contactsection ul {
  display: flex;
  gap: 5%;
  list-style-type: none;
  justify-content: center;
  padding-left: 0;
}

.rectangle {
  display: flex;
  justify-content: center;
  margin: 20% 0 8% 0;
}

.hrc {
  width: 40%;
  padding: 3px;
  background-color: #0d151e;
  border-radius: 10px;
}

/* modal styling */

.popup-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(59.2%, 58%, 57.6%, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  backdrop-filter: blur(10px);
}

.popup-content {
  width: 80%;
  height: 80%;
  background-color: white;
  padding: 5%;
}

.modal-card ul {
  display: flex;
  list-style-type: none;
  justify-content: flex-start;
  padding-left: 0;
  gap: 4%;
  padding-top: 4%;
}

.modal-card li {
  border: 1px solid #3c3a39;
  padding: 2%;
}

.modal-card button {
  background-color: #ff6b00;
  width: 45%;
  color: #fff;
  border: none;
}

.buttonstyle {
  display: flex;
  justify-content: flex-end;
  gap: 4%;
}

.buttonstyle :nth-child(1) {
  margin-right: auto;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  margin-left: 2%;
}

.modal-card h2 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
}

.fixingbutton {
  margin-right: 8%;
}

.buttonstyling {
  display: flex;
  justify-content: flex-end;
}

.buttonstyling :nth-child(1) {
  margin-right: auto;
}

.buttonstyling :nth-child(2) {
  margin-right: auto;
}

.popupimage {
  display: flex;
  justify-content: center;
}

.popupcancel {
  position: absolute;
  right: 12%;
  top: 14%;
  cursor: pointer;
}

/* MEDIUM SCREEN SIZES */

@media screen and (min-width: 768px) and (max-width: 1080px) {
  .myself {
    background-image: none;
    padding: 0;
  }

  main p {
    font-size: 18px;
  }

  .card p {
    font-size: 18px;
  }

  form button {
    margin-left: 0;
    padding: 1%;
    width: 25%;
    margin-bottom: 5%;
  }

  .card2 button {
    position: absolute;
    bottom: 0;
  }

  .myselftext {
    width: 40%;
    margin: 0 5%;
  }

  .hrbottom {
    margin-top: 10%;
  }

  .contactsection {
    padding: 4% 8%;
    margin-bottom: 0;
  }

  .contactsection p {
    padding-bottom: 10%;
    width: 40%;
    text-align: left;
    float: left;
    padding-right: 4%;
  }

  header ul {
    list-style: none;
    display: flex;
    margin-right: 20%;
    gap: 15%;
  }

  main ul {
    justify-content: flex-end;
    flex-direction: column;
    gap: 12px;
    padding-left: 4%;
    padding-bottom: 0;
    align-items: flex-end;
  }

  .contactsection ul {
    gap: 3%;
    margin-bottom: 0;
  }

  .fullname {
    display: none;
  }

  .deskcontact {
    display: flex;
    gap: 1%;
    justify-content: flex-end;
  }

  .deskcontact :nth-child(1) {
    margin-right: auto;
  }

  .deskcontact input {
    min-width: 45%;
  }

  .hra {
    margin-top: 20%;
  }

  .languagescenter {
    display: flex;
    justify-content: space-evenly;
    text-align: left;
  }

  header a {
    color: #fff;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
  }

  .frontpage {
    margin-bottom: 10%;
  }

  main {
    background-color: #1c1a19;
    background-image: url(./images/desky/group.svg);
    background-size: 45%;
    background-repeat: no-repeat;
    background-position: top 0% right;
    padding-top: 5%;
    display: flex;
    flex-direction: row-reverse;
    align-items: baseline;
    justify-content: flex-end;
    padding-bottom: 2%;
  }

  .bars {
    display: none;
  }

  .logo {
    margin-left: 10%;
  }

  header {
    background-color: #3c3a39;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-bottom: 1%;
    padding-top: 1%;
  }

  .frontpage ul {
    flex-direction: column;
  }

  main section {
    width: 50%;
  }

  .recent {
    color: #1c1a19;
    line-height: 52px;
    border-bottom: none;
    text-align: left;
    padding: 0;
    margin: 0;
  }

  .line {
    display: flex;
    gap: 2%;
    align-items: center;
    justify-content: flex-start;
    padding: 5% 5%;
  }

  .line img {
    max-width: 50%;
  }

  .card img {
    width: 100%;
  }

  .projimage {
    display: inline;
    float: left;
    width: 90%;
  }

  .card button {
    padding: 1%;
    background-color: #ff6b00;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    color: #fff;
    border: none;
    width: 40%;
  }

  .card {
    display: flex;
    flex-direction: row;
    gap: 2%;
    margin: 0;
    padding: 0;
    width: 80%;
  }

  .text {
    max-width: 40%;
    padding-right: 0;
  }

  .cardheader {
    margin-top: 0;
  }

  .card li {
    padding: 2%;
  }

  .grids {
    width: 80%;
    display: flex;
    gap: 4%;
    flex-wrap: wrap;
    margin-top: 5%;
    padding-bottom: 0;
  }

  .card2 {
    background-image: url(./images/projects/project\ background.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 30%;
    color: #fff;
    padding-top: 0;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    padding-bottom: -90%;
    position: relative;
    min-height: 500px;
  }

  .card2 p {
    font-size: 17px;
    margin-top: 0;
    width: 100%;
    position: absolute;
    bottom: 15%;
  }

  .card2 h2 {
    font-size: 32px;
    margin-bottom: 0;
    position: absolute;
    bottom: 50%;
  }

  .card2 li {
    font-size: 10%;
    padding: 3%;
  }

  .card2 ul {
    padding-top: 0;
    margin-top: 0;
    position: absolute;
    bottom: 5%;
  }

  .grids :nth-child(4) button,
  .grids :nth-child(5) button,
  .grids :nth-child(6) button {
    padding-top: 0;
  }

  .works {
    margin-bottom: 5%;
  }

  form {
    margin-top: 3%;
  }

  .rectangle img {
    display: none;
  }

  .rectangle hr {
    width: 100vw;
    padding: 0;
    margin: 0;
  }

  .rectangle {
    margin: 0;
    display: none;
  }

  .hrc {
    display: none;
  }

  .grids :nth-child(4),
  .grids :nth-child(5),
  .grids :nth-child(6) {
    margin-top: 2%;
  }

  #card1 ul {
    display: none;
  }
}

/************************************** LARGE SCREEN ***********************************/

@media screen and (min-width: 1080px) and (max-width: 1400px) {
  .myself {
    background-image: none;
    padding: 0;
  }

  .card p {
    font-size: 18px;
  }

  form button {
    margin-left: 0;
    padding: 1%;
    width: 25%;
  }

  .card2 button {
    position: absolute;
    bottom: 0;
  }

  .rectangle {
    display: none;
  }

  main ul {
    justify-content: flex-end;
    flex-direction: column;
    gap: 12px;
    padding-left: 4%;
    padding-bottom: 0;
    align-items: flex-end;
  }

  .myselftext {
    width: 40%;
    margin-left: 10%;
  }

  .hrc {
    display: none;
  }

  header ul {
    list-style: none;
    display: flex;
    margin-right: 20%;
    gap: 15%;
  }

  .contactsection ul {
    padding-bottom: 0;
    margin-bottom: 0;
  }

  .contactsection p {
    width: 40%;
    text-align: left;
    float: left;
    padding-right: 4%;
  }

  .fullname {
    display: none;
  }

  .languagescenter {
    display: flex;
    justify-content: space-evenly;
    text-align: left;
  }

  .deskcontact {
    display: flex;
    gap: 1%;
    justify-content: flex-end;
  }

  .deskcontact :nth-child(1) {
    margin-right: auto;
  }

  .deskcontact input {
    min-width: 45%;
  }

  .hra {
    margin-top: 20%;
  }

  .card2 p {
    font-size: 17px;
    margin-top: 0;
    position: absolute;
    bottom: 15%;
    width: 95%;
  }

  .card2 h2 {
    font-size: 32px;
    margin-bottom: 0;
    position: absolute;
    bottom: 40%;
    width: 95%;
  }

  .card2 li {
    padding: 3%;
  }

  .card2 {
    background-size: cover;
    background-image: url(./images/projects/project\ background.svg);
    background-repeat: no-repeat;
    width: 30%;
    color: #fff;
    padding-top: 0;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    padding-bottom: 5%;
    position: relative;
    min-height: 500px;
  }

  .card2 ul {
    padding-top: 0;
    margin-top: 0;
    position: absolute;
    bottom: 8%;
  }

  main {
    background-color: #1c1a19;
    background-image: url(./images/desky/group.svg);
    background-size: 45%;
    background-repeat: no-repeat;
    background-position: top 0% right;
    padding-top: 5%;
    display: flex;
    flex-direction: row-reverse;
    align-items: baseline;
    justify-content: flex-end;
    padding-bottom: 25%;
  }

  header a {
    color: #fff;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
  }

  .bars {
    display: none;
  }

  .logo {
    margin-left: 10%;
  }

  header {
    background-color: #3c3a39;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-bottom: 1%;
    padding-top: 1%;
  }

  .frontpage ul {
    flex-direction: column;
  }

  main section {
    width: 30%;
  }

  .recent {
    color: #1c1a19;
    line-height: 52px;
    border-bottom: none;
    text-align: left;
    padding: 0;
    margin: 0;
  }

  .line {
    display: flex;
    gap: 2%;
    align-items: center;
    justify-content: flex-start;
    padding: 5% 5%;
  }

  .line img {
    max-width: 65%;
  }

  .card img {
    width: 100%;
  }

  .projimage {
    display: inline;
    float: left;
    width: 90%;
  }

  .card button {
    padding: 2%;
    background-color: #ff6b00;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    color: #fff;
    border: none;
    width: 30%;
  }

  .card {
    display: flex;
    flex-direction: row;
    gap: 2%;
    margin: 0;
    padding: 0;
    width: 80%;
  }

  .text {
    max-width: 40%;
    padding-right: 0;
  }

  .cardheader {
    margin-top: 0;
  }

  .card li {
    padding: 2%;
  }

  .grids {
    width: 80%;
    display: flex;
    gap: 4%;
    flex-wrap: wrap;
    margin-top: 5%;
    padding-bottom: 0;
  }

  .works {
    margin-bottom: 5%;
  }

  .contactsection {
    padding: 4% 8%;
    margin-bottom: 0;
  }

  form {
    margin-top: 3%;
  }

  .grids :nth-child(4),
  .grids :nth-child(5),
  .grids :nth-child(6) {
    margin-top: 2%;
  }
}

/* EXTRA LARGE SCREEN */

@media (min-width: 1400px) {
  .myself {
    background-image: none;
    padding-top: 5%;
  }

  .card p {
    font-size: 18px;
  }

  form button {
    margin-left: 0;
    padding: 1%;
    width: 15%;
  }

  .card2 button {
    position: absolute;
    bottom: 0;
  }

  .myselftext {
    width: 40%;
    margin-left: 15%;
  }

  header ul {
    list-style: none;
    display: flex;
    margin-right: 20%;
    gap: 15%;
  }

  main ul {
    justify-content: flex-end;
    flex-direction: column;
    gap: 12px;
    padding-left: 4%;
    padding-bottom: 0;
    align-items: flex-end;
  }

  .contactsection ul {
    padding-bottom: 0;
    margin-bottom: 0;
    margin-top: 2%;
    gap: 1%;
  }

  main {
    background-color: #1c1a19;
    background-image: url(./images/desky/group.svg);
    background-size: 45%;
    background-repeat: no-repeat;
    background-position: top 0% right;
    padding-top: 5%;
    display: flex;
    flex-direction: row-reverse;
    align-items: baseline;
    justify-content: flex-end;
    padding-bottom: 25%;
  }

  .languagescenter {
    display: flex;
    justify-content: space-evenly;
    text-align: left;
  }

  .contactsection p {
    width: 40%;
    text-align: left;
    float: left;
    padding-right: 4%;
  }

  .fullname {
    display: none;
  }

  .deskcontact {
    display: flex;
    gap: 1%;
    justify-content: flex-end;
  }

  .deskcontact :nth-child(1) {
    margin-right: auto;
  }

  .deskcontact input {
    min-width: 45%;
  }

  .contactsection {
    padding: 4% 8%;
    margin-bottom: 0;
  }

  form {
    margin-top: 3%;
  }

  header a {
    color: #fff;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
  }

  .bars {
    display: none;
  }

  .logo {
    margin-left: 10%;
  }

  header {
    background-color: #3c3a39;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-bottom: 1%;
    padding-top: 1%;
  }

  .frontpage ul {
    flex-direction: column;
  }

  main section {
    width: 30%;
  }

  .recent {
    color: #1c1a19;
    line-height: 52px;
    border-bottom: none;
    text-align: left;
    padding: 0;
    margin: 0;
  }

  .line {
    display: flex;
    gap: 2%;
    align-items: center;
    justify-content: flex-start;
    padding: 5% 5%;
  }

  .line img {
    max-width: 65%;
  }

  .card img {
    width: 100%;
  }

  .card2 h2 {
    padding-top: 40%;
    position: absolute;
    bottom: 40%;
    width: 95%;
  }

  .projimage {
    display: inline;
    float: left;
    width: 90%;
  }

  .card button {
    padding: 2%;
    background-color: #ff6b00;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    color: #fff;
    border: none;
    width: 30%;
  }

  .card {
    display: flex;
    flex-direction: row;
    gap: 2%;
    margin: 0;
    padding: 0;
    width: 80%;
  }

  .text {
    max-width: 40%;
    padding-right: 0;
  }

  .cardheader {
    margin-top: 0;
  }

  .card li {
    padding: 2%;
  }

  .grids {
    width: 80%;
    display: flex;
    gap: 3%;
    flex-wrap: wrap;
    margin-top: 5%;
    padding-bottom: 0;
  }

  .card2 {
    background-image: url(./images/projects/project\ background.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 30%;
    color: #fff;
    padding-top: 0;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    padding-bottom: 0.5%;
    position: relative;
    min-height: 478px;
  }

  .card2 ul {
    padding-top: 0;
    margin-top: 0;
    position: absolute;
    bottom: 8%;
  }

  .card2 p {
    position: absolute;
    bottom: 20%;
    width: 95%;
    margin: auto;
  }

  .modal-card ul {
    display: flex;
    list-style-type: none;
    justify-content: flex-start;
    padding-left: 0;
    gap: 1%;
    padding-top: 0.5%;
  }

  #card1 ul {
    display: none;
  }

  .grids :nth-child(4),
  .grids :nth-child(5),
  .grids :nth-child(6) {
    margin-top: 2%;
  }

  .works {
    margin-bottom: 5%;
  }

  .rectangle {
    display: none;
  }

  .hrc {
    display: none;
  }

  .hra {
    margin-top: 30%;
  }

  .textitems {
    z-index: -1;
  }

  /* modal styling */

  .popup-modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(59.2%, 58%, 57.6%, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .popup-content {
    width: 80%;
    height: 70%;
    background-color: white;
    padding: 2%;
  }



  .modal-card li {
    border: 1px solid #3c3a39;
    padding: 0.5%;
  }

  .modal-card button {
    background-color: #ff6b00;
    width: 25%;
    color: #fff;
    border: none;
  }

  .buttonstyle {
    display: flex;
    justify-content: flex-end;
    gap: 4%;
  }

  .buttonstyle :nth-child(1) {
    margin-right: auto;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    margin-left: 2%;
  }

  .modal-card h2 {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
  }

  .fixingbutton {
    margin-right: 8%;
  }

  .popup p {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0;
    text-align: left;
    width: 80%;
  }

  .buttonstyling {
    display: flex;
    justify-content: flex-end;
    margin-top: 25%;

    /* margin-bottom: -40px; */
  }

  .buttonstyling :nth-child(1) {
    margin-right: 3%;
  }

  .buttonstyling :nth-child(2) {
    margin-right: auto;
  }

  .popupimage {
    display: flex;
    justify-content: flex-start;
    float: left;
    width: 50%;
  }

  .popupimage img {
    width: 100%;
    padding-right: 5%;
  }

  .popupcancel {
    position: absolute;
    right: 12%;
    top: 14%;
    cursor: pointer;
  }
}

/* mobileview */

@media (max-width: 768px) {
  header ul {
    display: none;
  }

  .line img {
    display: none;
  }

  .deskcontact {
    display: none;
  }

  .tofix img {
    display: none;
  }

  main p {
    font-size: 18px;
  }
}

button:hover {
  background-color: #fff5e1;
  color: #993800;
  border: 1px solid #993800;
}

button:active {
  background-color: #963903;
  color: #f4f1f0;
}

/* javascript section/mobile-menu */

.navMenu {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 200%;
  right: 0;
  background-color: #3c3a39;
}

.hamburger {
  cursor: pointer;
}

.cancelicon {
  z-index: 1;
  position: absolute;
  right: 10%;
  top: 5%;
  cursor: pointer;
}

.navMenu li {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  border-bottom: 1px solid #6f6c6b;
  padding-bottom: 5%;
}

.navMenu ul {
  list-style-type: none;
  margin-top: 30%;
  width: 85%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.navMenu a {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #fff5e1;
}

/* addd any comment below */

/*

add anything here

*/
